<!-- <div class="bg-container"> -->
<body class="games_index">
  <div class="games-bg"><img src="./images/background/background.png"></div>
  <div class="games-fg"><img src="./images/background/foreground.png"></div>

  <div class="clouds">
    <div id="cloud-A"><img src="./images/background/cloud.png"></div>
    <div id="cloud-B"><img src="./images/background/cloud.png"></div>
    <div id="cloud-C"><img src="./images/background/cloud.png"></div>
  </div>

  <div id="title">
    <div id="M"><img src="./images/background/m.png"></div>
    <div id="A"><img src="./images/background/a.png"></div>
    <div id="T"><img src="./images/background/t.png"></div>
    <div id="H"><img src="./images/background/h.png"></div>
    <div id="I"><img src="./images/background/i.png"></div>
    <div id="O"><img src="./images/background/o.png"></div>
  </div>

  <div class="demo">
    <div class="icon" id="hunt"><img src="./images/game_icons/duck_hunt.gif"></div>
    <div class="icon" id="leaders"><img src="./images/game_icons/leaderboard.png"></div>
    <div class="icon" id="flappy"><img src="./images/game_icons/flappy_bird.gif"></div>
  </div>
</body>


