<!-- <div class="bg-container"> -->
  <div class="games-bg"><img src="./images/background/background.png"></div>
  <div class="games-fg"><img src="./images/background/foreground.png"></div>

  <div class="clouds">
    <div id="cloud-A"><img src="./images/background/cloud.png"></div>
    <div id="cloud-B"><img src="./images/background/cloud.png"></div>
    <div id="cloud-C"><img src="./images/background/cloud.png"></div>
  </div>

  <div id="title">
    <div id="M"><img src="./images/background/m.png""></div>
    <div id="A"><img src="./images/background/a.png""></div>
    <div id="T"><img src="./images/background/t.png""></div>
    <div id="H"><img src="./images/background/h.png""></div>
    <div id="I"><img src="./images/background/i.png""></div>
    <div id="O"><img src="./images/background/o.png""></div>
  </div>

