// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cloud-A{
  position:absolute;
  bottom:420px;
  left:400px;
  z-index: 3;
}

#cloud-B{
  position:absolute;
  bottom:300px;
  left:600px;
  z-index: 3;
}

#cloud-C{
  position:absolute;
  bottom:350px;
  left:50px;
  z-index: 3;
}

.bg-container{
  position: relative;
  bottom:0px;
  left:0px;
}
.games-bg {
  // background: url(img_flwr.gif);
  background-size: 100% auto;
  background-repeat: no-repeat;

  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.games-fg{
  background-size: 100% auto;
  background-repeat: no-repeat;

  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}

#title{
 position:absolute;
  z-index:4;
}
#M{
  position:relative;
  top:10px;
  left:20px;
}
#A{
  position:absolute;
  left:180px;
  top:50px;
}
#T{
  position:absolute;
  left:290px;
  top:50px;
}
#H{
  position:absolute;
  left:360px;
  top:50px;
}
#I{
  position:absolute;
  left:450px;
  top:48px;
}
#O{
  position:absolute;
  left:480px;
  top:50px;
}
