<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Mathio by K. Mannah Kallon -  kenikall@gmail.com</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = "navbar navbar-default navbar-fixed-bottom">
    <div class="container st-multi-color">
      <p class = 'navbar-text pull-left'>Built By K. Mannah Kallon </p><br>
      <a title="Email" class="st-icon-gmail" href="">Email</a>
      <a title="Linked In" class="st-icon-linkedin" href="">Linked In</a>
      <a title="GitHub" class="st-icon-github" href="">GitHub</a>
      <a title="Facebook" class="st-icon-facebook" href="">Facebook</a>
      <a title="Twitter" class="st-icon-twitter" href="">Twitter</a>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
