<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/8bit-wonder" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css/stackicons.css" />

    <title>Math Hunt by K. Mannah Kallon -  MannahCodes@gmail.com</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="font-size:75%;  font-family:'8BITWONDERNominal'; font-weight: normal; font-style: normal;" class = "navbar navbar-default navbar-fixed-top">
    <p class = 'text-center st-multi-color st-shape-r5'>Built By K. Mannah Kallon - Use the Q,W,E,S keys to navigate - Spacebar to select
        <a style="margin-left: 2em;" title="MannahCodes@gmail.com" class="st-icon-gmail st-multi-color" href="mailto:mannahcodes@gmail"><span></span>Email</a>
        <a style="margin-left: 2em;" target="_blank" title="Linked In" class="st-icon-linkedin st-multi-color" href="https://www.linkedin.com/in/kenikall"><span></span>Linked In</a>
        <a style="margin-left: 2em;" target="_blank" title="Check out my code here" class="st-icon-github st-shape-circle" href="https://github.com/kenikall"><span></span>GitHub</a>
        <a style="margin-left: 2em;" target="_blank" title="Facebook" class="st-icon-facebook st-multi-color" href="https://www.facebook.com/mannahcodes/"><span></span>Facebook</a>
        <a style="margin-left: 2em;" target="_blank" title="Twitter" class="st-icon-twitter st-multi-color" href="https://twitter.com/mannahKallon"><span></span>Twitter</a></p>
  </div>
    <%= yield %>
  </body>
</html>
