<!DOCTYPE html>
<html>
  <head>
    <title>Mathio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body background="mathio/public/background/background_back.png">
  <div id="cloud-A" class="/public/images/background/cloud.png"></div>
  <div id="cloud-B" class="/public/images/background/cloud.png"></div>
  <div id="cloud-C" class="/public/images/background/cloud.png"></div>
    <%= yield %>
  </body>
</html>
